.hidden {
    display: none !important;
}
.dashboard-display {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05)
}
.dashboard-display-icon {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.15);
}
.dashboard-display-number {
    font-size: 1.3rem;
    font-weight: 700;
}
.dashboard-main-col {
    border-radius: 4px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
.translation-section-btn {
    margin-bottom: 2rem;
    background-color: rgba(245, 245, 245, 0.70);
    color: #37474F;
    font-size: 1.2rem;
    border: 3px dotted #8360C3;
    padding: 0 25px;
}


.alert-update {
    color: #FF9800;
    background-color: #ffffff;
    border-color: #d8d8d8;
    border-radius: 0.275rem;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.05);
}

@media (min-width: 320px) and (max-width: 767px) {
    .navbar-collapse.collapse {
        z-index: 9999999;
        background-color: #fff;
        box-shadow: 0 5px 20px 0 #ccc;
    }
}